<p *ngIf="!answers">
  Загрузка ...
</p>
<dx-data-grid *ngIf="answers"
  id="gridContainer"
  [dataSource]="answers"
  [showBorders]="true">
  <dxi-column dataField="trunk" caption="Рабочий канал"></dxi-column>
  <dxi-column dataField="outgoingCount" caption="Количество обработанных номеров"></dxi-column>
  <dxi-column dataField="answersCount" caption="Количество откликов"></dxi-column>
  <dxi-column dataField="callbackCount" caption="Количество не выполнившие действия"></dxi-column>
  <dxi-column dataField="agreedCount" caption="Количество согласившихся"></dxi-column>
  <dxi-column dataField="confirmedCount" caption="Количество подтвердивших"></dxi-column>
</dx-data-grid>


