<div class="column col-4 col-mx-auto bg-gray">

<div class="text-center">
	<h3>Добавление списка телефонов</h1>
</div>

<%= render 'form', outgoing: @outgoing %>

<%= link_to 'Назад', outgoings_path %>

</div>
