
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="routeLink_Click('/outgoings/new')" routerLink="/outgoings/new">Добавить телефоны <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="routeLink_Click('/outgoings')"  routerLink="/outgoings">Исходящие</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="routeLink_Click('/answers')"  routerLink="/answers">Отклики</a>
      </li>
    </ul>
    <ul class="navbar-nav nav justify-content-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Настройки
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="routeLink_Click('/tranks')" routerLink="/tranks">Рабочие каналы</a>
          <a class="dropdown-item" (click)="routeLink_Click('/groups')" routerLink="/groups">Группы каналов</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/settings/1/edit">Настройки приложения</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="routeLink_Click('/logout')" routerLink="/logout">Выход <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
