[Unit]
Description=Example .NET Web API App running on Ubuntu

[Service]
WorkingDirectory=/home/asterisk/services/Autodial
ExecStart=/usr/bin/dotnet /home/asterisk/services/Autodial/AutoDialer.Console.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=autodial-app
User=asterisk
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
LimitNOFILE=1617596
LimitNOFILESoft=1617596

[Install]
WantedBy=multi-user.target