<div class="column col-6 col-mx-auto bg-gray">

<h1>Редактирование SIP аккаунта</h1>

<%= render 'form', sipaccount: @sipaccount %>

<%= link_to 'Показать', @sipaccount %> |
<%= link_to 'Назад', sipaccounts_path %>

</div>
