<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Telecontact", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
            <li>
        	<%= link_to "SIP", sip_show_path %>
	    <li>
	       <%= link_to "Настройки", settings_path %>
	    </li>
              <li>                
                <%= link_to "Выход", logout_path, method: :delete %>
              </li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
